@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'nunito';
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #f15936;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}

#top {
    animation: expandWidth ease-in-out forwards;
    animation-timeline: scroll();
}
@keyframes expandWidth {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

.FM-top-bottom-animate {
    animation: top-bottom 3s ease-in-out infinite;
}
@keyframes top-bottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}